[2016-01-14 02:16] benjaminprojas opened #1 "QuickTags insert link not working"
When adding a link the output looks like:

[code]

[2016-01-14 02:16] benjaminprojas commented on #1
See https://wordpress.org/support/topic/link-button-doesnt-insert-url?replies=5

[2016-01-14 02:20] benjaminprojas opened #2 "Add multi-site support"

[2016-01-14 02:32] benjaminprojas opened #3 "Add support for .scss files"
https://wordpress.org/support/topic/missing-support-for-sass-files-scss?replies=2

[2016-01-14 02:36] benjaminprojas opened #4 "Files with extensions all in uppercase (.PNG) do not work"

[2016-01-14 02:55] benjaminprojas opened #5 "Blank line conflict with XML plugins"
https://wordpress.org/support/topic/blank-line-conflict-with-xml-plugins?replies=8#post-8262432

[2016-01-14 02:57] benjaminprojas opened #6 "Duplicate window when toggling visual/text editors"
https://wordpress.org/support/topic/the-same-issue-as-sabinooo?replies=1
https://wordpress.org/support/topic/working-well-but-post-editor-uncomfortable-or-broken-user-experience?replies=2

[2016-01-14 03:03] benjaminprojas opened #7 "Ability to delete files through the plugin/theme editors"

[2016-01-14 03:17] benjaminprojas opened #8 "Upgrade CodeMirror to latest version (5.10)"

[2016-01-14 03:18] benjaminprojas opened #9 "Integrate CodeMirror Spell Checker"
http://nextstepwebs.github.io/codemirror-spell-checker/

[2016-02-03 13:04] RulerOfThisWorld opened #10 "Blank page in post editor when line wrapping is off (v1.2.5.3)"
Blank page in post editor when line wrapping is off (v1.2.5.3)

[2016-02-03 13:12] RulerOfThisWorld opened #11 "Add support for Tag Matcher in editor"
It would be great to add support for this: https://codemirror.net/demo/matchtags.html

Thanks for your plugin.

[2016-02-10 19:19] behle opened #12 "how to use the wp-editor ?"
hi benjamin,
i just dont know how to use the web-editor,
i installed it, activated it, it shows up in my dashboard, i find the setting
-- but for example the wp editor doesnt find my acutal theme but shows under editor theme
, themes i dindt install like ambiance, blackboard ....  just want to change minimal things in my theme int the source text and i`m not able to open the
CodeMirror feature sta

[2016-02-10 19:57] jasonborges opened #13 "no line-breaks"
I have having issues with in consistent line breaks on my blog HonorShame.com when using WPEditor 1.2.5.3 and the latest version of WP

When I write a post in the "visual tab" the line breaks do now show up in the final preview or posting. So, i must add    <br class="blank" />  under the text tab to get the line breaks. And even then they are very inconsistent. So when a scheduled post is sent ou

[2016-02-11 12:11] behle commented on #12
found a tutorial on youtube
 https://www.youtube.com/watch?v=uGpWfvRm0mI
diffrence to my appearance in my dashboard is that there is no installation of any
plugin editon --- see foto
![wp_editor_meins](https://cloud.githubusercontent.com/assets/17165711/12975962/ac5072ea-d0c0-11e5-9487-3930b7bf8f26.jpg)
![wp_editor_gut](https://cloud.githubusercontent.com/assets/17165711/12975963/ac682fca-d0c0-11e

[2016-02-11 14:39] benjaminprojas commented on #12
@behle the issue is that there is something blocking the plugin editor from appearing.  Are you in a multisite install?

Sometimes hosting providers will block this feature to prevent the site from going down accidentally.  Can you check with your hosting provider to see if they have blocked it?

[2016-02-11 14:39] benjaminprojas commented on #13
@jasonborges can you attache some screenshots here so I can get a visual on the issue you are referring to?

[2016-02-11 14:40] benjaminprojas commented on #11
@RulerOfThisWorld I will look into adding this in a future release.  Thanks!

[2016-02-11 14:41] benjaminprojas commented on #10
@RulerOfThisWorld can you provide me with some screenshots/more info on this issue?

[2016-02-11 17:26] RulerOfThisWorld commented on #10
@benjaminprojas Yes, of course :)
WP 4.4.2
Theme Editor and Plugin Editor work perfectly when Line Wrapping is disabled.

![ok](https://cloud.githubusercontent.com/assets/4064732/12984065/c4bcbbc0-d0f4-11e5-81f2-29cc44bd66af.png)
![blank](https://cloud.githubusercontent.com/assets/4064732/12984064/c4b9bc72-d0f4-11e5-852c-aea6fd2bda6f.png)
![line_wrapping](https://cloud.githubusercontent.com/assets

[2016-02-26 16:48] jasonborges commented on #13
Ben,

Thanks for the great support. Here are three screen shots: the live website (http://honorshame.com/vbs-shame-less-individualism-vs-collectivism/ <http://honorshame.com/vbs-shame-less-individualism-vs-collectivism/>), then the editor is both text and visual mode. Though the line breaks show up in the visual mode, they don’t carry over to the live site.
Any advice would be great.

Thanks!
Jaso

[2016-03-12 09:39] cyberl33t opened #14 ""Add link" does not work"
Whenever I try to add link to text, I always get

`<a href="undefined" title="undefined"></a>`

as a result. After switching the wp-editor plugin off, the "add link"-function works again. Using wordpress 4.4.2 and wp-editor 1.2.5.3

[2016-03-16 11:09] Patch-Moloughney opened #15 "So much blank space"
Hello there, I am using a child theme of wordpress's twenty sixteen theme and I'm having a problem with a lot of blank space to the top and sides of my content.
I am also using beaver builder to edit the site.

![screenshot 1](https://cloud.githubusercontent.com/assets/17877101/13810126/1eb05b88-eb66-11e5-99fb-1346c8d47bca.png)

I removed the side bar and the content (that was aligned to the left)

[2016-03-31 13:08] benjaminprojas commented on #14
Thanks for reporting this issue! This is a duplicate of #1.

[2016-03-31 13:08] #14 closed

[2016-03-31 13:10] benjaminprojas commented on #15
Patch,

I am sorry about the issues you are having with your site!  Unfortunately, this most likely has nothing to do with the WP Editor plugin itself.  WP Editor just manipulates the view of the text editor on the post/page editor.  You will need to contact a WordPress web developer who knows Beaver Builder and who can try to assist you with this.

Thanks!

[2016-03-31 13:10] #15 closed

[2016-03-31 13:19] benjaminprojas opened #18 "Conflict with Formidable Pro"
From WP Editor Plugin Support forums

BUG: If WP Editor is activated you can not access Formidable -> Styles -> Custom CSS (the CSS BOX are missing).

Formidable Pro support answer: The issue here is that WP Editor is loading this javascript file:
http://localhost:8888/features/wp-content/plugins/wp-editor//extensions/codemirror/js/codemirror.js?ver=1.2.5.3
on the Formidable page. It would be best

[2016-03-31 13:21] benjaminprojas opened #19 "Conflict with MapSVG"
I found a conflict between WP Editor and MapSVG (http://codecanyon.net/item/mapsvg-responsive-vector-maps-and-floorplans-plugin-for-wordpress/2547255)

The author of that plugin (Roman S. Stepanov) made the following changes to WP Editor to resolve the issue:

''WP Editor
/classes/WPEditor.php
line 177:

if(isset($_GET['page']) && $_GET['page']=='wpeditor_plugin'){ ...

- same as for BadgeOS, this

[2016-03-31 15:26] jarmerson opened #20 "Text Editor Insert Link Undefined Values"
I've seen a few reports of this bug in your plugin. We have no console errors.

`<a href="undefined" title="undefined">`

Is there a solution for this that I'm not finding?

WP 4.4.2
WP Editor 0.5.5

Thank You

[2016-03-31 15:29] benjaminprojas commented on #20
@jarmerson No solution yet, it's pegged for a fix in the next release.  Marking this as a duplicate of issue #1.

[2016-03-31 15:29] #20 closed

[2016-03-31 15:31] benjaminprojas commented on #20
@jarmerson also, have you tried updating to the latest version of WP Editor?

[2016-03-31 15:34] jarmerson commented on #20
I saw a duplicate issue, but it was closed.

This plugin hasn't shown any updates available from our network admin. I do see the latest release on the WP plugin page - 1.2.5.3

I will update that now and get back with you. Thank you for your feedback.

[2016-03-31 15:38] benjaminprojas commented on #20
@jarmerson Issue #1 is still open, that's the main one for this same issue.  I don't think that updating will fix this specific issue, but the next release should have this fix (1.2.6).

[2016-03-31 15:42] emajen commented on #20
I understand. I just realized I have two github accounts. This is my primary. Thanks again.

[2016-04-06 05:54] jodzeee commented on #6
I've also had this problem, but not on all sites and not all the time.

[2016-04-06 05:59] jodzeee opened #21 "Save button not working in theme editor"
My Update File and Save buttons are not working in theme editor. The other buttons work fine. I checked the console and I am getting errors, but I don't know what to do about it. It's working fine on other sites.

Looks like Ajax isn't loading on this site. What should I do? Here's the message:

POST http://www.rocksolidmn.com/wp-admin/admin-ajax.php 404 (Not Found)
load-scripts.php?c=0&load[]=jqu

[2016-04-06 12:48] benjaminprojas commented on #21
@jodzeee can you try disabling all other plugins and see if it works?  If it does, re-enable each plugin one at a time and see which one causes the error to happen.

Do the same thing with your theme (switch to a default one).

Let me know how that goes.

[2016-04-08 14:52] benjaminprojas opened #22 "remove deprecated .live functions (jQuery)"

[2016-04-08 14:54] benjaminprojas commented on #1
I am planning to override default quicktags.js as a solution (not the best option, but still better than the current solution).

This should fix integration issues with plugins that add additional QuickTags to the QuickTags bar.

[2016-04-08 14:58] benjaminprojas opened #23 "Update settings page to work with the default WordPress Settings api."
[ ] Remove wp-editor DB tables
[ ] Rewrite settings page to save to wp settings table
[ ] Permanently move WP Editor menu item to be a sub-menu under settings

[2016-04-09 04:50] benjaminprojas opened #24 "use wpActiveEditor whenever reinstating the editor from js (post/pages only)"

[2016-04-09 04:51] #1 closed

[2016-04-09 04:52] #8 closed

[2016-04-09 05:22] #12 closed

[2016-04-09 05:24] benjaminprojas opened #25 "Create ability to filter quicktags"

[2016-04-09 05:24] benjaminprojas opened #26 "Ability to dynamically add file types"

[2016-04-10 03:13] #6 closed

[2016-04-10 04:03] #4 closed

[2016-04-10 04:04] #22 closed

[2016-04-10 04:04] benjaminprojas opened #27 "add "save" and "fullscreen" modes as QT buttons in post editor"

[2016-04-10 04:28] benjaminprojas commented on #19
added in a wp_script_is call to see if codemirror.js is already enqueued.  Cannot implement a solution like the above since wp editor is needed all across the admin (any time there is an editor with a text box)

[2016-04-10 04:28] #19 closed

[2016-04-10 04:28] benjaminprojas opened #28 "allow WP Editor on custom post types"
implement a solution to allow adding in of CPT's to use WP Editor

[2016-04-10 04:32] benjaminprojas commented on #10
this is resolved with the newest update of codemirror.

[2016-04-10 04:32] #10 closed

[2016-04-10 04:35] benjaminprojas commented on #13
@jasonborges I am sorry for the delay in responding to this issue.  Unfortunately, I am not seeing the screenshots you sent.  Based on your comments though, it seems like you may be running into the wpautop issues with WordPress itself.  Can you deactivate WP Editor and see if the issues remain, regardless?

[2016-04-10 04:58] benjaminprojas opened #29 "Fix new search issues with latest CodeMirror"

[2016-04-10 05:03] #29 closed

[2016-04-10 05:03] #24 closed

[2016-04-10 05:07] benjaminprojas commented on #18
This should be fixed with the wp_script_is function.

[2016-04-10 05:07] #18 closed

[2016-04-10 05:08] benjaminprojas commented on #21
@jodzeee any update on this?

[2016-04-10 05:09] benjaminprojas opened #30 "Fix alignment of search box in all editors"

[2016-04-10 05:11] benjaminprojas commented on #30
![](https://www.dropbox.com/s/uwci5xul5rmnvtc/Screenshot%202016-04-10%2001.10.40.png?dl=1)
![](https://www.dropbox.com/s/guj5ztwdzye70id/Screenshot%202016-04-10%2001.11.06.png?dl=1)

[2016-04-10 05:16] #3 closed

[2016-04-10 05:21] benjaminprojas opened #31 "Fix fullscreen not working"

[2016-04-10 05:21] benjaminprojas opened #32 "update all codemirror addons (js/css)"

[2016-04-10 14:46] denizdogan opened #33 "Wrong URL in README"
The URL https://wpeditor.net/ leads to some sketchy-looking website. Non-https leads to the right website. I don't know why, but the README leads to the https scam site right now.

[2016-04-10 16:08] benjaminprojas commented on #33
Thanks for the heads up on that. The site it redirects to is not a scam, bit it is the wrong site for sure. I will try to get that fixed ASAP.

[2016-04-10 16:18] bryancusatis opened #34 "Does not function when Foo Gallery is installed."
Save button shoes a white rectangle instead of actually saving when Foo Gallery is installed.

[2016-04-10 17:06] benjaminprojas commented on #34
Which save button is this? Plugin/theme editors? Post editor?

Thabks!

[2016-04-10 18:38] bryancusatis commented on #34
I noticed it on the Theme Editor and the Plugin Editor.

[2016-04-11 03:43] benjaminprojas commented on #33
SSL certificate now works correctly.  https://wpeditor.net is live.

[2016-04-11 03:43] #33 closed

[2016-04-11 03:45] benjaminprojas commented on #34
Just confirming this is the plugin? https://wordpress.org/plugins/foogallery/

[2016-04-11 05:04] bryancusatis commented on #34
Yeah. That's the one. Let me know if you need any additional information.

[2016-04-11 07:41] jodzeee commented on #21
Sorry I didn't try that to begin with and hadn't had time since your response. It's working fine on my local dev server, but not on live. I disabled all other plugins and that didn't help; however, changing the theme did. I'm using Genesis with an older theme (XHTML). I tested 13 other Genesis sites and verified that newer themes (HTML5) work, but the older ones do not.

[2016-04-11 13:55] benjaminprojas commented on #21
@jodzeee it may be that the theme is throwing errors on the backend, which causes the AJAX to break when coming back from the server.  I am changing a little bit of how this is handled in the next release.  I will leave this issue open and when the next release comes out, I'll touch base to see if it works for you.

[2016-04-11 16:06] benjaminprojas opened #35 "Update Screenshots"

[2016-04-11 18:09] jodzeee commented on #21
Okay great. I appreciate the follow-up.

[2016-04-14 13:31] benjaminprojas commented on #5
https://wordpress.org/support/topic/error-with-contact-db

[2016-04-25 09:34] ferriefi opened #36 "Post/page editor indentation settings"
There are a few typos which break the indentation settings.

classes/WPEditorPosts.php:19
'indentWithTabs' => WPEditorSetting::getValue('enable_post_tab_size') == 'tabs' ? true : false,
should be
'indentWithTabs' => WPEditorSetting::getValue('enable_post_tab_characters') == 'tabs' ? true : false,

js/posts-jquery.js:299
indentSize: WPEPosts.indentSize,
should be
indentUnit: WPEPosts.indentUnit,

[2016-04-25 13:19] benjaminprojas commented on #36
@ferriefi thanks!  I'll get those fixed.

[2016-04-30 12:08] jbreeland opened #37 "Log file"
Hello.  Where is the log file?  I created a second problem while trying to fix the first problem and can't remember what I changed.

[2016-05-01 21:21] thonyan opened #38 "Unable to Edit Pages or Posts - Please Help"
I've installed WP-Editor in WordPress 4.5.1 running Twenty-Eleven Child theme.  I'd like to use it to edit the html code on pages.  However, when I open an existing Page or Post, the "Text" tab is inoperable, and there does not appear to be way to edit the code anywhere on the Page or Post code area.

Is there something I'm not getting, or can this be attributed to the version of WordPress to whic

[2016-05-09 11:19] euklidis commented on #38
I have the same problem. After installing WP-Editor i cannot add posts with tinyMCE or the default editor of WP. I am running 4.5.2

[2016-05-09 12:46] benjaminprojas commented on #38
@thonyan @euklidis

I am sorry for the delay in responding.  Can you try deactivating all plugins and make sure only the default theme is activated (temporarily) and see if the issues persist?  This will help us determine if there is a plugin or theme conflict.  If the issue goes away, try reactivating all plugins and the theme you are using (one by one) and see if the problem returns.

[2016-05-13 02:19] #36 closed

[2016-05-13 04:22] #31 closed

[2016-05-13 22:47] askdesign commented on #38
Hi,
I noticed a problem today with WP Editor not working when using the Theme Editor, modifying a theme's style.css. WP 4.5.2 is installed. It does work ok on pages and posts.

I disabled all plug-ins and the problem disappeared. So, adding them back 1 by 1, it was Wordfence that was the culprit. Hope this helps you resolve things.

my best, Anne

[2016-05-13 22:54] benjaminprojas commented on #38
Thanks Anne! Are you using WP Editor 1.2.6? It was updated last night. I will try to check the conflict with WordFence.

[2016-05-13 23:04] askdesign commented on #38
Yes, WP Editor 1.2.6 was just installed today and that's when the problem arose. On sites where I have the previous version installed (v1.2.5.3), WP Editor still works ok. Glad I was able to help!

[2016-05-16 02:19] benjaminprojas commented on #38
@askdesign

I can't seem to duplicate the error with WordFence and WP Editor.  Can you look at the console when trying to edit the theme file and see if there are Javascript errors?  It could be that I don't have WordFence configured the same way you do so it would be good to try and duplicate what you have.  Can you send me screenshots of your settings (without personal information if applicable)

[2016-05-16 14:57] askdesign commented on #38
What do you mean look at the console? I can do a screenshot of my settings, if that would be helpful.

[2016-05-16 15:57] benjaminprojas commented on #38
Anne,

Yes, screenshots of your WordFence settings would be very helpful.

In the Chrome browser, If you right click on the page where WP Editor is NOT working and click on "inspect":
![image](https://cloud.githubusercontent.com/assets/962530/15295153/300f9110-1b5d-11e6-8a94-bc5740985f80.png)

That should open up the Developer Tools inspector  Then click on the Console tab:
![image](https://cloud.

[2016-05-17 00:55] BogglerTK opened #39 "The way "FullScreen" doesn't fill the entire screen"
Any solution?

The fullscreen button worked perfectly, however he stopped to fill the entire screen

Image:
http://imgur.com/a/O0XOk

[2016-05-19 11:50] Takkster opened #40 "Conflict with Avadas "Fusion Page Builder""
Hi Ben,

thanks for the plugin, have been using it on many of my installations. There is a serious bug which I could just replicate:
With the **Avada theme** (4.0.2 all patches active, child theme active) comes a page builder called "**Fusion Page Builder**". When the WP-Editor plugin (1.2.6) is active, Fusion Page Builder **can't save anymore. Practically all changes made via Fusion on a page or

[2016-05-19 12:38] benjaminprojas commented on #40
@Takkster,

Thanks for the information.  I see that Avada is available for purchase.  It is difficult to troubleshoot issues with plugins or themes that are paid since I can't get a hold of them without purchasing.  This is a free product so its hard to justify that expense.  I will do my best to see if I can figure out a way to resolve this conflict (and with Visual Composer) however I don't have

[2016-05-19 14:34] Takkster commented on #40
@benjaminprojas
I'll contact you via mail if that's ok, maybe we can work something out.

[2016-05-23 19:24] theGuruWithin commented on #38
i am experiencing same issue with plugin not working as described above.... I have used plugin forever and love it... can't live without.... I don't run Wordfence but i am running WP 4.5.2

[2016-05-23 19:35] askdesign commented on #38
@theGuruWithin My temporary work-around is to disable Wordfence when I am modifying the theme's CSS.

[2016-05-23 19:36] theGuruWithin commented on #38
thanks for quick reply
I am not running Wordfence any other suggestions?

[2016-05-23 19:39] askdesign commented on #38
You should disable all plug-ins, then activate them 1 by 1, testing WP Editor to see which plug-in causes it to stop working. That's what I did and Wordfence came up as the problem.

[2016-05-23 21:04] theGuruWithin commented on #38
i removed every plugin except for WP Editor and problem in Posts and Pages is consistant... WP Editor not working properly. I think it  may be WP 4.5.2 issues since they made some changes to how editor worked in this last update... guess i will just disable till 1.2.7 is released... how sad after all this time of working beautifully... plugin will be missed...

[2016-05-23 21:06] benjaminprojas commented on #38
@theGuruWithin I'm sorry to hear about the issues you are having.  The issue may have to do with a conflict with your theme.  Can you try activating one of the default WordPress themes and see if that makes a difference?

[2016-05-23 21:21] theGuruWithin commented on #38
Ben,

I love this plugin you really have done an awesome job.

I currently use theme TwentyEleven with Nom Nom child theme addon... (both are up to date)

Since your suggestion I just switched to plain Twenty Eleven with out Nom Nom and also tried switch to Twenty Fifteen theme plain vanilla ....

Problem is consistent...

format tag buttons in upper post menu don't work at all... and i see a thin

[2016-05-23 21:23] benjaminprojas commented on #38
@theGuruWithin Yes, screenshots would be great, but can you please open a new issue?

Thanks!

[2016-05-23 21:28] theGuruWithin opened #41 "Unable to Edit Pages or Posts top buttons in editor (<b>old <li> <ol> etc) broken"
![add_new_post_ _shop_akosm_ _wordpress_-_2016-05-23_14 27 03](https://cloud.githubusercontent.com/assets/2244686/15485158/88f8f038-20f2-11e6-9a53-ba10cd0603fe.png)

[2016-05-23 21:31] benjaminprojas commented on #41
@theGuruWithin can you provide a screenshot of your console when trying to use the buttons?

[2016-05-23 21:32] theGuruWithin commented on #41
i use firefox..  please describe how to get what you want in step by step using firefox pls

[2016-05-23 21:34] theGuruWithin commented on #41
i think i figured it out....
![add_new_post_ _shop_akosm_ _wordpress_-_2016-05-23_14 33 54](https://cloud.githubusercontent.com/assets/2244686/15485332/73438464-20f3-11e6-9e94-4bf7b320822e.png)

[2016-05-23 21:37] theGuruWithin commented on #41
i am getting NS Error Failure.... but how do i screen grab console? cant figure out

[2016-05-23 21:54] theGuruWithin commented on #41
NS_ERROR_FAILURE:

![console-shot](https://cloud.githubusercontent.com/assets/2244686/15485804/3838a126-20f6-11e6-9b42-3cae0476cd50.jpg)

[2016-05-23 22:41] theGuruWithin commented on #41
any thoughts?

[2016-05-23 22:45] alex1278 opened #42 "Unable to add media file to Text editor"
After plugin update to version 1.2.6, I can't add media to post editor field in Text mode. I always get an error in console: TypeError: element.value is undefined

https://wordpress.org/plugins/wp-editor/
![admin2](https://cloud.githubusercontent.com/assets/15159810/15486846/398af000-2151-11e6-91ea-4469e7db8ee4.jpg)
![admin1](https://cloud.githubusercontent.com/assets/15159810/15486847/398e57b8-21

[2016-05-24 00:30] theGuruWithin commented on #41
Ben is there any other info you need from me to continue diagnoses or anything you want me to try?

[2016-05-24 12:48] benjaminprojas commented on #41
@theGuruWithin I'm sorry for the delay in responding.  That is definitely an issue with WP Editor.  I am wondering if it is a conflict with FireFox specifically.  What version of Firefox are you running? And which operating system?

[2016-05-24 12:49] benjaminprojas commented on #42
@alex1278 thanks for the information!  Can you try deactivating all other plugins and activate only the default theme and see if this fixes the issue?  If it does, try reactivating the plugins one by one (and theme) to see if the issue comes back.

Also, can you let me know which browser and OS are you on?

[2016-05-24 13:50] alex1278 commented on #42
I have Windows 8. I tested Firefox, Chrome and EI10. I also tested another PC. This error appears in all listed browsers. Yes, I tried to deactivate all plugins and switched 'Twenty Sixteen', but if try to insert media file via media loader in Text mode I get nothing. Visual mode works as usual.

[2016-05-24 18:58] theGuruWithin commented on #41
Win7 OS
Firefox 46.0.1
I can give you site access should you need to take a look..... or still happy to do anything you suggest to trouble shoot.

[2016-05-25 15:49] theGuruWithin commented on #41
Hi Benjamin,

any news? don't mean to be a bother but i really can't imagine working as well w/o WP-Editor it just improves WP experience %1000

in gratitude,
Arthur

[2016-05-25 16:03] benjaminprojas commented on #41
Hey Arthur,

I'm sorry I haven't had a chance to work on this yet.  WP Editor is my hobby right now (free, so it doesn't make me money) I will try to work on it by this weekend and get an update out soon after.  Thanks for your patience!  Will you be available this weekend in case I need more information from you?

[2016-05-25 16:27] theGuruWithin commented on #41
Benjamin,

i will be available - happy to give you phone num privately if needed
And i really do understand that this hobby project - as amazing as it is - Is a hobby .. . so please understand my gratitude for your creation of WP Editor ...

and i am a patient person in total support and appreciation of your efforts.  So please take these nudge reminders as what they are - just to keep the thread

[2016-05-25 16:34] brentfincham opened #43 "Incompatible with Ninja Firewall (WP Edition) - No editor on Pages or Posts"
Editor still works on Plugin editor and Theme editor pages, but not in Pages or Posts. Deactivated all plugins, and then only reactivated [Ninja Firewall](https://wordpress.org/plugins/ninjafirewall/)  (I automatically assumed that plugin was the issue) and lo and behold, no editor on Pages or Posts.

Any suggestions? I'd like to keep both plug-ins obviously.

[2016-05-25 17:22] benjaminprojas commented on #41
Sounds good Arthur! I'll be in touch this weekend.

[2016-05-25 17:30] benjaminprojas commented on #43
@brentfincham thanks for the information on that.  I will need to run some tests to see what is conflicting and see if I can come up with a fix.  I'll post back here once I have resolved it or have a course of action.

[2016-05-25 17:34] benjaminprojas commented on #39
@BogglerTK Thanks for this! Can you tell me if the issue still occurs with ALL other plugins deactivated?  Also, try deactivating the theme you are using and just use one of the default WordPress themes.  Let me know if the issue still happens after that point.

Thanks!

[2016-05-25 18:13] theGuruWithin commented on #41
thank you again
I follow you on Twitter
If you follow me I can leave you DM of phone info etc if you like.
@theGuruWithin

[2016-05-29 19:06] benjaminprojas commented on #41
@theGuruWithin working on it now.  Will be in touch if I can't resolve it with the info I have.

Thanks!

[2016-05-29 19:36] benjaminprojas commented on #41
@theGuruWithin looks like I have a fix for this. I was able to duplicate the issue in FireFox and then was able to resolve it.  I will try to have a fix for this available tonight.  Are you comfortable editing the plugin directly to test if I send you the code to modify?

[2016-05-29 21:08] theGuruWithin commented on #41
I would give  a try but i am still newbee with plugin writing ... but working on it...

[2016-05-29 21:21] #41 closed

[2016-05-29 21:21] #42 closed

[2016-05-29 21:30] benjaminprojas commented on #43
@brentfincham I tried to find any conflicts, but was unable to get Ninja Firewall working.  Can you check your console to see if there are any javascript errors when Ninja Firewall is enabled?

Let me know what you find.  Thanks!

[2016-05-29 21:55] benjaminprojas commented on #41
@theGuruWithin Ok, can you try to update to WP 1.2.6.1 and see if it work now as expected? Thanks!

[2016-05-29 21:55] benjaminprojas commented on #42
@alex1278 Can you try updating to WP Editor 1.2.6.1 and see if that resolves the issue?

Thanks!

[2016-05-29 22:11] theGuruWithin commented on #41
i just installed and will 1.2.6.1 now will open a tag on selected text but won't close tag when select and try to <li> from menu button.

[2016-05-29 22:13] theGuruWithin commented on #41
i just installed and now 1.2.6.1 will open a tag on selected text using <li> button,  but WON'Tt close tag

[2016-05-29 22:14] theGuruWithin commented on #41
i just installed and will 1.2.6.1 now will open a tag on selected text but won't close tag when select and when try to "<li>" tag from menu button.

[2016-05-29 22:15] theGuruWithin commented on #41
i just installed and will 1.2.6.1 now will open a tag on selected text but won't close tag when select and try to < li > tag from menu button.

[2016-05-29 22:16] theGuruWithin commented on #41
thank you again for all your help

[2016-05-30 06:34] alex1278 commented on #42
Oh, Yes. Now it is really works. Thank you for your quick response.

[2016-05-30 10:59] Takkster commented on #40
I just made a test on one of my pages, saving with Avada Fusion Builder seems to work again.

[2016-05-30 13:41] #40 closed

[2016-05-31 15:48] theGuruWithin opened #44 "Unable to Edit Pages or Posts top buttons in editor (<b>old <li> <ol> etc) 2.6.1 still broken"
Only opens front tag and won't close tags like < li > or <strong> etc, when text selected.

[2016-06-03 17:26] theGuruWithin commented on #44
Hi Benjamin,
Just checking in on progress since i haven't seen this issue turned back into active bug.... Not pressuring just wondering if it is still in your minds eye.

in gratitude,
A

[2016-06-03 17:45] benjaminprojas commented on #44
hey Arthur, yep, still top of the list.  Trying to figure out a time to jump back on.  Busy times around here :)

I'll keep you posted.

[2016-06-04 01:42] Kizzycocoa opened #45 "inserting images is broken via the text view of the regular editor"
As above. I primarily use this plugin to edit my style files, and leave the regular editor as normal for pages. The latest update has broken inserting images in text-view!

I have isolated it to this plugin. It is 100% caused by WP-Editor.

[2016-06-04 01:46] theGuruWithin commented on #44
thanks ... no pressure really....

[2016-06-06 23:29] mkormendy commented on #2
Curious on the progress of this.

[2016-06-07 06:40] rustychar17 opened #46 "Unable to work after WP-editor installed"
Hi there, I've installed WP-editor in WordPress 4.3.1 version running Enigma Pro theme. After plugin installation and activated, there's only "WP-editor" showing on the left panel. But there's nothing showing under "Appearance" as Theme Editor or Plugin Editor.  The other and the only plugin i'm using is "Polylang".

Is there something I'm not getting? Thanks.

[2016-06-13 15:35] theGuruWithin commented on #44
Hi Benjamin,

Just checking in - no pressure

[2016-06-15 08:42] officialtheme opened #47 "Default font size for editor filter"
Hi,

Is any way to set the default font size on the theme's functions.php file?

So currently the default one is 12 but i would like to set to 14 on my new theme.  I know that there is an option on the plugin settings page but i would like to ship my new theme with the default font size to 14 as 12 is very small

Thanks
Alvin

[2016-06-15 14:19] benjaminprojas commented on #47
@officialtheme are you shipping your theme with WP Editor?  Currently there is not a way to do this, but I am happy to consider adding it as an option.  What exactly is your use case?  Thanks!

[2016-06-15 14:20] benjaminprojas commented on #44
hey @theGuruWithin thanks for checking in.  My family has been sick so time has been spent caring for them.  They are on the mend now so I should be able to jump back on this soon.

[2016-06-15 14:48] officialtheme commented on #47
Hi
Thanks for your fast reply

No im not shipping the plugin with my theme but instead im making it required to be used when my theme gets installed

However the default font size is to low 12px and i dont want to tell my members to increase it, instead i want to be pre set at 14px, which however i think you should set the default one as well..

Let me know if there is any way

Thanks
Alvin

[2016-06-16 16:47] theGuruWithin commented on #44
I will keep their health in my daily meditation....

Love and pranams,
Arthur

[2016-06-16 17:21] theGuruWithin commented on #44
BTW i tried to edit using Opera and same issues...

[2016-06-17 00:47] benjaminprojas commented on #46
@rustychar17 sorry for the delay.  Are you running on a multisite install?  WP-Editor currently does not support multisite so this may be the issue.

[2016-06-17 00:48] benjaminprojas commented on #45
@Kizzycocoa can you tell me what version of WP Editor you are using?  We did resolve an issue regarding inserting an image in text view recently.

[2016-06-17 00:52] Kizzycocoa commented on #45
@benjaminprojas I am using Version 1.2.6.1, according to Wordpress. I just checked, and I can confirm this bug is still there, at least for myself. the Wordpress version is 4.5.2!

[2016-06-17 01:44] #46 closed

[2016-06-17 02:21] benjaminprojas commented on #44
@theGuruWithin I have just released a new version of WP Editor that should fix this issue (1.2.6.2) Can you update and let me know if it works as expected?  Thanks!

[2016-06-17 02:22] benjaminprojas commented on #45
@Kizzycocoa thanks for getting back with me! What browser are you using?  I just updated WP Editor to try and fix some related issues.  Can you update to 1.2.6.2 and see if that resolves the issue?  Thanks!

[2016-06-17 02:46] benjaminprojas commented on #47
@officialtheme There is not really a way to do this effectively right now.  I will keep this in mind for the next major release though.  Thanks for your input!

[2016-06-17 02:48] benjaminprojas commented on #37
@jbreeland somehow I missed this.  Do you still have the problem you mentioned?  The log file should be right inside the wp-editor folder and should be called log.txt.

[2016-06-17 02:48] #37 closed

[2016-06-17 02:49] benjaminprojas commented on #39
@BogglerTK are you still having this issue?

[2016-06-17 02:51] benjaminprojas commented on #38
@askdesign is this issue still happening for you with the latest release of WP Editor? (1.2.6.2)

[2016-06-17 02:53] benjaminprojas commented on #43
@brentfincham are you still having this issue?

[2016-06-17 02:54] benjaminprojas commented on #2
@mkormendy it is slotted for the next major release.  Since this is hobby more than anything, I'm not sure how quickly it will get updated.   Pull requests are always welcome!

[2016-06-17 03:26] theGuruWithin commented on #44
Seems to be working great both in Firefox 47 and Opera 38.0.2220.31
Thank you sooooo much ... hope your family is great!

[2016-06-17 03:28] benjaminprojas commented on #44
Glad to hear it! Family is on the mend! Thanks for asking.

[2016-06-17 03:28] #44 closed

[2016-06-17 03:59] theGuruWithin commented on #44
thank you for what you do in open-source community... you are very generous

in gratitude

[2016-06-17 06:00] officialtheme commented on #47
A filter should do the work i suppose, however i strongly recommend that you still change the default font size to 14px, at least this is the WordPress default one as well

[2016-06-17 06:06] officialtheme commented on #39
Just checking this issue.

a margin bottom 35px from javascript is added as you can see on my screenshot

![screen shot 2016-06-17 at 08 04 57](https://cloud.githubusercontent.com/assets/273284/16142053/5cc3ad72-3462-11e6-8bb9-6ab98348ae6d.png)

[2016-06-17 14:10] Kizzycocoa commented on #45
@benjaminprojas I was using Firefox, but now it's all fixed! thank you very much! :+1:

[2016-06-17 14:10] #45 closed

[2016-06-17 14:15] benjaminprojas commented on #45
Glad to hear it!

[2016-06-17 14:16] benjaminprojas commented on #39
@officialtheme if you resize your browser window, does it seem to fix the issue?

[2016-06-17 15:11] askdesign commented on #38
Hi Ben,The issue has been resolved with the latest release of WP Editor v1.2.6.2.
Thank you!
Anne ///////////////////////////////////////////
Anne S. Katzeff
 Web/Graphic Designer & Artist
 ASK Design
http://www.askdesign.biz/
 ///////////////////////////////////////////
 Thank you for printing this e-mail only if it is necessary.

Websites are like gardens: they need constant tending.

      From

[2016-06-17 15:13] benjaminprojas commented on #38
Thanks Anne!

[2016-06-17 15:44] askdesign commented on #38
Oops, sorry, Ben, I spoke too soon. I am still seeing the issue on some sites, not all. Let me see if there's a common thread and I'll get back to you! Apologies!

[2016-06-17 15:49] benjaminprojas commented on #38
Okay thanks.

[2016-06-24 14:13] benjaminprojas opened #48 "Wrong file edited: Needs file path in hash"
from: https://wordpress.org/support/topic/bug-wrong-file-edited-needs-file-path-in-hash?replies=1

I have had several problems with the editor editing the *wrong file* - because if you refresh the fullscreen editor it maintains the content of the file you were working on, but if you hit save, saves that content to a different plugin file - the alphabetical "first" plugin file.

At least, the speci

[2016-06-25 02:02] theGuruWithin opened #49 "WP-Editor reverts to built in WP text editor after saving Drafts"
WP ver 4.5.3
WP-Editor ver 1.2.6.2

Hi Benjamin,

After saving draft while editing posts...  Editor reverts to built in WP Text Editor... After clicking <Text> tab on top of editor next to <Visual> tab the Editor displays WP-Editor interface...  This is repeatable every time I save draft or when i first create Post.

thanks,
Arthur

[2016-06-27 21:29] tripslip38 opened #50 "WP-editor doesn't init until the "text" tab is clicked"
It still seems to work fine, but it doesn't init in the textarea like it originally did. You must click on the "text" view tab in the post editor, or anywhere in the textarea, and it will suddenly initialize.

WP 4.5.3

[2016-07-01 12:27] cstrutton commented on #7
And.. how about the ability to create files.....

[2016-07-02 13:16] cstrutton commented on #28
+1 for this... any way to do this manually?

[2016-07-03 02:06] davidshq commented on #50
I'm experiencing this issue as well.

[2016-07-05 19:44] Kevin- opened #51 "Themes no longer work?"
This has been an issue for a while now.  I manage 20+ Wordpress installations and I've noticed that setting the WP Editor theme no longer has any effect on the editor, it just uses the default theme and colors.

I'm using the latest version of Wordpress 4.5.3 although I've noticed it on other installations with older versions as well.

My troubleshooting steps have been to disable ALL plugins exce

[2016-07-10 16:32] theGuruWithin commented on #50
Hi Benjamin,

Hope you are well!

UPDATE
and you must repeat after every draft save by clicking TEXT BUTTON

[2016-07-15 07:44] codebeauty opened #52 "Using WP-Editor as MU-Plugin"
I tried to use wp-editor as mu-plugin in **[Bedrock](https://github.com/roots/bedrock)** but it failed to load caused by paths to the /plugins folder instead of /mu-plugin.

The plugin is successfully installed via Composer over **[wpackagist](https://wpackagist.org/search?q=WP-Editor&type=any&search=)**:

Also the the install path is correct and the wp-editor folder appears after _composer instal

[2016-07-15 10:10] corvidism opened #53 "GUI glitches when switching between HTML and WYSIWYG"
I'm still experiencing [this bug](https://wordpress.org/support/topic/switching-between-code-and-wysiwyg-editor-breaks-layout), previously reported on the WP plugin support forum.

What happens:

1. I open a Post editor, do some editing, click Update.
2. I switch to the WYSIWYG editor.
3. I switch back to the code editor...
4. ...and the code editor is placed bellow the WYSIWYG and nothing works.

[2016-07-18 00:48] jessicaeved opened #54 "No "theme editor" under "appearance""
Hi, I just installed WP Editor in hopes that I would have access to the Theme Editor function, which I am not currently seeing in my Wordpress menu.  Unfortunately after installing and activating WP Editor, I still have no Theme Editor option under "Appearance" in my WP menu.  Can you help me resolve this!?

Thanks in advance!!

[2016-08-13 13:43] TVK5300 opened #55 "No "Theme Editor under "Appearance""
After installing and activating the WP-editor plugin I see no "Theme editor".
I use the Responsive Pro theme with Responsive Child theme and wWordPress 4.5.3.

[2016-08-24 05:49] dvlange commented on #27
I'm a first timer here and happened to notice this issue because I wanted to suggest a Save button in Fullscreen mode. What is meant by QT buttons? Was this "post" created April '16?

[2016-09-06 09:54] lovnic opened #56 "full screen not working well in worpdress 4.6"
When ever you expand the editor or put it in full screen and you want to revert it back to normal it the height gets very small.

Also the full screen feature is attach to the wordpress Distraction Free button. this hinders users from enjoying the native worpress Distraction Free button. I would like to suggest for a separate button to be created for the full screen. This will enable uses to enjoy

[2016-09-06 11:12] lovnic opened #57 "code folding not working in wordpress 4.6"
code folding is not working

also consider adding code formating in the codemirror
refer to http://codemirror.net/2/demo/formatting.html for help

[2016-09-07 23:20] theGuruWithin opened #58 "Need to Click Text Button after every Save"
When using WP-Editor I must Click Text Button after every Save Draft Click to get WP-Editor to appear again.

[2016-09-17 13:44] paisleysam opened #60 "Theme Files not showing in list"
Hello,
I have 2 copies of the plugin running, one local, one remote.
The local one works perfectly, in the remote one, the theme files don't show in a list under the words "Theme Files"

Plugin editor works as it should.

Any suggestions to get it working?

I tried disabling other plugins, no effect.

Thanks

Sam

[2016-09-20 10:56] bluewhale12 commented on #60
I have the same problem with wp-editor ( in version 1.2.6) and WP version 3.9.14.
Following a plugin and WP update at the end of May 2016, The  theme files no longer appear under Appearance> Themes> Theme files    so I can not alter my template files or CSS etc.
I did not notice it immediately - so rolling the site back is not an option. Any help please on this urgent problem? I attach a screen sh

[2016-09-20 13:07] benjaminprojas commented on #60
@bluewhale12  @paisleysam do you have any errors in your browser console?

[2016-09-20 14:46] bluewhale12 commented on #60
Hi  no, no errors in browser console.

[2016-09-23 12:59] harrymilatz opened #61 "Depricated functions"
Hi,
here are some depricated functions, maybe for the next update:
`/wp-editor/views/plugin-editor.php

    screen_icon at line 3:
    <?php screen_icon(); ?>
    deprecated 3.8.0 Use get_screen_icon()

/wp-editor/views/theme-editor.php

    screen_icon at line 3:
    <?php screen_icon(); ?>
    deprecated 3.8.0 Use get_screen_icon()

/wp-editor/classes/WPEditorPlugins.php

    add_contextual_help

[2016-09-26 15:27] PBrenek opened #62 "Theme Editing Does not Work"
Hello,

I just downloaded the latest version of WP Editor. I tried to edit a Genesis child theme css file and was able to do so. Then I saved and updated the file. The message from WP Editor indicated that the file was updated successfully. However, when I accessed the css file differently, none of the changes were implemented. Please advise. Thank you.

[2016-09-27 09:03] bluewhale12 commented on #60
Hi Benjamin, this is still a problem -would you have any suggestions that may help? Thanks

[2016-10-08 16:21] wisekingokok opened #63 "The wp-editor is not available in iconic theme？"
As the title, the wp-editor is not available when I used the iconic theme? How can I fix it?

[2016-10-15 04:35] jpgklassen commented on #38
I'm having the same issue. When I deactivate WP Editor, everything works again. Sadly I've had to leave it deactivated because of this. :( A fix would be so appreciated as I love using your plugin!!

[2016-10-15 04:40] jpgklassen opened #64 "Cycle through instances of a search term"
Most text editors and even browsers allow you to search for a term in the content, and keep pressing enter to cycle through all found instances. If I try to do this in WP Editor, it only goes to the first instance.

[2016-10-15 04:41] jpgklassen opened #65 "Find text as you type"
Would be great if the editor would jump to the first instance of a search term as I'm typing it in! I'd spend less time typing that way. ;)

[2016-10-28 18:05] CarlyVanderwert opened #66 "WP Editor not displaying"
Hi there, I've installed WP-editor in WordPress version 4.3.1. After plugin installation and activated, there's only "WP-Editor" showing on the left panel, and nothing shown under "Appearance". Not sure what I did wrong, but I'd love to be able to use this plugin.

Thanks!

[2016-11-11 23:35] HeathMorrisCode opened #67 "Fusion Builder (Avada 5.0.3) won't save/update with WP Editor's Post Editor enabled."
Hi there,

Summary: I thought I would report that on my setup the WP Editor's Post Editor option seems to cripple Avada's Fusion Builder (and possibly other page builders as well, but I haven't tested any others).

I spent a while trying to figure out why the Fusion Builder elements I added to my page were failing to save after I clicked "Update". It would just load the same page with all of my Fu

[2016-11-13 15:22] theGuruWithin commented on #58
Hi Benjamin,

Hope you are well.

Still a problem and I have now tried to edit in not only Firefox but Chrome and Opera... Problem is consistent.  AFTER EVERY SAVE DRAFT - MUST HIT TEXT BUTTON ON EDITOR TO MAKE WP-EDITOR INTERFACE APPEAR.  I love plugin and even with issue I still use it but would love to see this issue resolved one day.

[2016-11-30 00:12] tamarwallace opened #68 "Post Editor doesn't work at all"
The theme and plugin editors work just fine, but on one of my sites, the post editor will not work.

I've tried deactivating all my other plugins, clearing the cache, deactivating and reinstalling the plugin, but nothing I do will get the post editor to actually work.

Any help would be greatly appreciated!

[2016-12-01 14:22] tamarwallace commented on #68
@ctlajoie @benjaminprojas @seanvfs

I paid for 24-hour support. I paid twice, actually, because I forgot to include the text in the initial payment. Payment receipt #: 2053-1396-2367-7992.

Thank you!

[2016-12-01 15:13] benjaminprojas commented on #68
@tamarwallace can you send me an email to support@wpeditor.net please? That way I can communicate with you directly. Thanks!

[2017-01-06 20:09] jodzeee opened #69 "Conflict with PHP 7.1"
When I changed to PHP 7.1, I got the following error on the plugins admin page:

`Warning: Illegal string offset 'deactivate' in /home/mysite/public_html/wp-content/plugins/wp-editor/classes/WPEditor.php on line 333

Warning: Illegal string offset 'edit' in /home/mysite/public_html/wp-content/plugins/wp-editor/classes/WPEditor.php on line 333

Warning: Illegal string offset 'deactivate' in /home/m

[2017-01-13 03:00] benjaminprojas commented on #69
Thanks @jodzeee! I'll look into this as soon as I can.

[2017-01-28 03:22] jman1076 opened #70 "Pages will not save in Divi with WP Editor enabled"
Hi,

When WP Editor is enabled and the Divi theme is active, you cannot save any changes to pages. Plugin Version 1.2.6.3.

WP version is 4.7.2
Divi version 3.0.30

[2017-02-06 14:28] LoDef opened #71 "SCSS - no color coding"
Despite having .SCSS support in the settings the actual code is just plain black on white (or whatever theme you have in CodeMirror). Regular CSS-files works fine though.

Using WP 4.61.

(I have a separate plugin for SCSS processing: WP-SCSS - https://wordpress.org/plugins/wp-scss/ )

[2017-02-08 12:11] LoDef commented on #71
I actually managed to fix this by adding "scss" to the condition in _wp-editor\views\theme-editor.php_, line 280

[code]
According to CodeMirror, SCSS is a sub-mode of the CSS-mode:
https://codemirror.net/mode/css/scss.html

I suppose it will be lost on the next plugin update, but at least it very easy to fix.

[2017-02-08 12:11] #71 closed

[2017-02-16 11:05] KwrKy opened #72 "Editor stripping code when in page editor"
Hi Benajmin

I really like the plugin, and am quite surprised that there aren't more like it. I only need it for working with pages and posts, but I can't use it at the moment for a couple of reasons:

**1. CRITICAL: It is stripping code.**

The code in the original text editor was

[code]

When I activated your editor, it became
[code]

I know that the Wordpress TinyMCE strips <span> tags with no

[2017-03-06 08:20] Silverbug opened #73 "Map Ctrl+S to the Update File button"
Would it be possible to get the CTRL+S keymap linked to the update file button? This will help speed up development time

[2017-03-28 09:23] YellowAfterlife commented on #72
The indentation issue comes from CodeMirror itself. You can notice it on majority of websites and tools using the library.

For a while now I've been using a small userscript that does
[code]
on page load.

[2017-04-08 17:39] wickedsam2 opened #75 "WP-Edit is hiding all active plugins… help!"
Hi Ben,

Just a quick heads up about this issue:

https://wordpress.org/support/topic/plugins-dashboard-is-hiding-all-active-plugins-help/#post-9010289

Many thanks for your attention on this.

Let me know if I can help in any way.

Nick

[2017-05-17 07:12] LoDef commented on #73
This is available in one of the existing pullrequests, but it hasn't been merged with the main code yet: https://github.com/benjaminprojas/wp-editor/pull/59

You can do it manually by adding some lines to **views/plugin-editor.php**, as seen here:
https://github.com/benjaminprojas/wp-editor/pull/59/commits/bbefad58a42f5c64ef90a97c2cbe052a841937d2#diff-95c269f6f24a112b348e27004a104c9eL327

If the n

[2017-05-21 09:06] ErinPo opened #77 "Broken AJAX uploads"
Does WP Editor interfere with the standard WP media library and media uploader in any way? On my multisite install which uses a custom upload path, AJAX media uploads fail if WP Editor is enabled, and work again when I deactivate WP Editor.

[2017-05-31 14:35] Roman1420 opened #78 "Search problem"
Hello!

on my website located a lot of magazines and books. How to configure search so that when I searching for the book showed just the right book, not the page on which it is located.

example in the photo

I whant that search show only book wich I need
Mabye you can help me.

Thank you!
![2](https://cloud.githubusercontent.com/assets/29100031/26637245/ff01781e-462f-11e7-8e9c-d923f07c73ac.png)

[2017-05-31 15:27] benjaminprojas commented on #78
@Roman1420 Unfortunately this is outside the scope of what this plugin does. You will need to look elsewhere for development help.  Thanks, and I hope you get it working!

[2017-05-31 15:27] #78 closed

[2017-06-02 12:57] XanderCam opened #79 "red X'es in file liste"
Not a bug - I think.
But I've been trying to figure out what those X'es and red folders are in the editors filelist.
I can open the folders and I can edit and access any files inside - but I cannot figure out
why they appear Red and X'ed out ??

I cannot find any documentation on the matter either.

Please tell me why they look like that
and how I might remove the "flag"
![list](https://cloud.gith

[2017-06-12 16:47] JayStapleton commented on #49
I am also seeing this behaviour.
WordPress 4.7.5
WP-Editor Version 4.0.1

Any further information that could help troubleshoot, let me know.

[2017-06-19 12:56] codebeauty commented on #52
Obsolete

[2017-06-19 12:56] #52 closed

[2017-08-04 14:35] charles-cotton opened #81 "wp-editor alters (damages) the html as it opens a page for edit"
This is a singular case.  It's a question of syntax.  I have created several bulletted tables on a page and have included the <p>Description</p> for each table within the ul tags:

<ul>
	<p>Purchases:</p>
 	<li>Vendors</li>
 	<li>Purchase Orders with Printout</li>
 	<li>Parts Receipts Logging</li>
 	<li>Payments Made (direct or with purchase order)</li>
</ul>

Doing it this way kills (at least) tw

[2017-08-04 14:40] charles-cotton commented on #81
Wow, this is the first time I have used Github.  What I entered has been completely changed by the save process, destroying the point I was trying to make which was:
`<ul>
	<p>Purchases:</p>
 	<li>Vendors</li>
 	<li>Purchase Orders with Printout</li>
 	<li>Parts Receipts Logging</li>
 	<li>Payments Made (direct or with purchase order)</li>
</ul>`
becomes
`<p>Purchases:</p>
<ul>
 	<li>Vendors</li>

[2017-08-04 14:41] charles-cotton commented on #81
Well, it happened again!  Even when I enclosed the raw html as a code block, it gets messed up when I save it!  So much for github!

[2017-08-25 15:06] Spreeuw commented on #69
I think the actual fix here is setting $data properly as array [here](https://github.com/benjaminprojas/wp-editor/blob/master/classes/WPEditor.php#L324).
There's also a pull request already with this fix, #82

Also see:
https://wordpress.org/support/topic/php-7-1-wp-4-73-plugins-listing-problem/#post-9303082

[2017-09-20 07:28] dmbostan commented on #75
Facing the same issue

[2017-09-21 14:44] jpmains opened #84 "Conflict with Nectar"
Hi.  For some reason, WPEditor makes Nectar Shortcodes not display anymore in Wordpress.  The shortcodes work, but there is some styling issue going on that disables from selecting shortcodes.

[2017-09-28 20:44] deltaforce opened #85 "breaks plugins page"
When this plugin is enabled, it breaks the plugins page.
All the options to activate/deactivate/delete a plugin vanish.

[2017-10-21 06:11] segurog opened #86 "Update file does not work with index.php"
Update file does not work with index.php, although it works well with all other themes. I deactivated and reactivated the plugin, anything else I can try? Thanks

[2017-10-26 11:43] webncut opened #87 "Don't work anymore with WP 4.8.2"
The editor don't work anymore..
Could someone confirm that?

[2017-11-05 12:14] how-can-i-figure-out-a-name commented on #87
yes I also encounter this matter
quite annoying

[2018-01-25 10:13] weepy92 commented on #85
same problem...

[2018-01-25 10:16] weepy92 commented on #75
Same issue..

Did you guys find a solution ?

[2018-01-26 12:09] Lia71 commented on #87
Is there any news about getting the editor to work again?
My webpage is in trouble... When I try to edit in the normal mode, it just goes blank, and it changed...

![before](https://user-images.githubusercontent.com/35838352/35439192-f5454d60-0299-11e8-9998-0f8aa2de34c6.JPG)
![now](https://user-images.githubusercontent.com/35838352/35439194-f55f7b68-0299-11e8-995f-8b0615a404f6.JPG)

Please help me

[2018-01-26 14:42] webncut commented on #87
Not yet...
Unfortunately.. :(
I use HTML Editor Syntax Highlighter as an alternative to wp-editor!
Try to go back to your old unbroken pagecode with revisions under "publish"

[2018-03-22 10:21] alexanderhowell opened #89 "Not compatible with php 7.2 because of bug in line 324 of WPEditor.php - $data defined as string not array"
As it says above really, in classes/WPEditor.php there is the function:

`public static function replace_plugin_edit_links( $links ) {
    $data = '';
    if ( isset( $_REQUEST['plugin_status'] ) && in_array( $_REQUEST['plugin_status'], array( 'mustuse', 'dropins' ) ) ) {
      $data = $links;
    }
    elseif ( WPEditorSetting::get_value( 'replace_plugin_edit_links' ) == 1 ) {
      foreach ( $li

[2018-05-03 10:44] VikingBO commented on #89
#82 will help to resolve your issue

[2018-10-09 16:59] daniel-barrows opened #90 "Plugin maintenance update"
WP Editor has not been recently updated, and has therefore been marked as unmaintained on the [WordPress.org website](https://wordpress.org/plugins/wp-editor/) with the warning message [described here](https://developer.wordpress.org/plugins/wordpress-org/alerts-and-warnings/#out-of-date).

I use WP Editor daily on WordPress 4.9.8, and it works fine, so fixing this issue probably only requires upd

[2018-10-09 20:01] benjaminprojas commented on #90
@daniel-barrows unfortunately, I am no longer maintaining WP-Editor as gutenberg will be making its appearance very soon and will completely invalidate this plugin from start to finish. Thanks for your interest though! I appreciate it!

[2018-10-09 20:01] #90 closed

[2018-11-22 12:20] LJIS opened #91 "No longer supported"
Hi Benjamin As wp-editor is no longer supported what do you recommend to replace it ?

[2019-01-23 21:08] presswizards commented on #75
Here's the small fix needed for those hanging onto this plugin...

https://wordpress.org/support/topic/php-v7-incompatibility-2/

[2019-01-23 23:07] presswizards commented on #69
@benjaminprojas Would you consider adding me to the WP Editor plugin repository using username "presswizards", and I could commit the PHP7.1 fix #82 needed by many that are affected as more and more people are switched (often suddenly) to PHP7.1+?

I would consider doing simple maintenance of the plugin in the repository as well, and handling repository support threads.

Let me know your thoughts?

[2019-09-29 11:02] FranzXKohl commented on #69
@benjaminprojas I ran into exactly this issue today with the latest WP version 5.2.3 after changing from PHP 5.6 to 7.3.9. I was able to fix the issue as described above by changing line 324 as described here: https://wordpress.org/support/topic/php-7-1-wp-4-73-plugins-listing-problem/#post-9303082

WP is using the Classic Editor plugin to re-enable the old WP Editor UI (customer does not like the